name: Release

on:
  workflow_dispatch:

permissions:
  contents: write
  packages: write

jobs:
  release:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 22

      - name: Build And Test
        env:
          API_KEY: ${{ secrets.API_KEY }}
          TEST_PLATFORM_URL: ${{ secrets.TEST_PLATFORM_URL }}
        run: |
          npm ci
          npm run format:check
          npm run lint:check
          npm run test:unit
          npm run test:integration
          npm run build

      - name: Publish to NPM
        id: publish
        uses: JS-DevTools/npm-publish@v4
        with:
          token: ${{ secrets.NPM_ACCESS_TOKEN }}

      - name: Push Tag
        uses: anothrNick/github-tag-action@v1
        env:
          CUSTOM_TAG: v${{ steps.publish.outputs.version }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
